

*{  
    box-sizing: border-box;
    font-family: fantasy;
    max-width: 600px;
  
 
}
:root{

    --primary-color: grey;
    --secondary-color:powderblue;


}
    
body{
    margin: 20px;
 
   
}

h1{
    text-align: center;
    font-size: 40px;
}


li{
    text-align: center;
    font-size: 12px;
    list-style: none;
    padding: 5px;
  
} 

/*
ul{

    margin-bottom: 20px;
}*/

img{
    width: 200px;
    height: auto;
    border-radius: 50px
}

footer{
    width: 90%;
    height: 60px;
    bottom: 0px;
    position:fixed;
    margin-top: 50px;
    
}
label{
  
    font-size: 20px;
    
}
h2{
    text-align: center;
    font-size: 20px;
}
/* ---IDs start--*/

#fname{
    margin: 20px;
    width: 200px;
    height: 80px;
    align-items: center;
}
#qname{
    margin: 20px;
    width: 150px;
    height: 30px;
    align-items: center;
}
/* ---IDs Ende--*/

/* -----Klassen start----*/


.question_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    border: 5px solid var(--primary-color);
    box-shadow: 0px 5px 10px 0px ;
    margin: 30px;
    padding: 20px;
}

.question_marks{
    
     width: 45px;
     margin-top: -230px;
     margin-left: 230px;
   
 }


.question_cards--radio{
    display:flex;
    float: left;
    position: relative;
    justify-content: left;
    vertical-align:middle;
    left: 0px;
    margin: 0px 20px 10px 0px;
}

.navbar_icons{
    
    background-color:var(--secondary-color);
    border: 3px solid olive;
    text-align: center;
    margin-top: 50px;

}

.navbar_icons--buttons{
    width: 50px;
    justify-content: space-around;
    margin: 0px 15px 0px 15px;

}

/*.question_cards--OK{
    width: 100px;
    height: 40px;
    margin: 10px;
}
*/


 .signin_label, .quiz_label{
  
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    
}
/* -----Klassen ende----*/




