


.question_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 90%;
    background-color: var(--third-c);
    border: 5px solid var(--primary-color);
    box-shadow: 10px 10px 20px 0px ;
    margin: 40px auto;
    padding: 20px;
    position: relative;
}

.question_marks{
    position: absolute;
     width: 60px;
    height: 45px;
     right: 20px;
     top: -20px
   
 }


.question_cards--radio{
   
    position: relative;
    text-align: center;
   
    margin: 0px 0px 20px 0px;
    
   
}
input[name="rr"]{
  width: 40px;

}

input[type="button"]{
    margin: 10px;
    width: 80px;
    height: 50px;
    color: #577590;
    border: 4px solid rgb(240, 184, 184);
    border-radius: 50%;
    font-size: 25px;
    box-shadow: 4px 4px 5px gray;
}
