#fname{
    margin: 20px;
    width: 200px;
    height: 80px;
    align-items: center;
}
#qname{
    margin: 20px;
    width: 150px;
    height: 30px;
    align-items: center;
}

.signin_label, .quiz_label{
  
    display: flex;
    flex: wrap;
    flex-direction: column;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
    
}